.hierarchyselect {
  display: flex;
  flex-direction: row;
}

.hierarchyselect-wrap {
  display: inline-block;
  border: 1px solid #dadfe3;
  border-radius: 4px;
  overflow: hidden;
}

.hierarchyselect-title {
  color: #333;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  padding: 8px 12px;
  border-bottom: 1px solid #dee4f5;
  background-color: #f9fafd;
  user-select: none;
}

.hierarchyselect-content {
  overflow-y: hidden;
  height: 300px;
}

/*滚动条样式*/
.hierarchyselect-content ::-webkit-scrollbar {
  height: 15px;
  background-color: transparent;
  border-radius: 9px;
}

.hierarchyselect-content ::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 9px;
  background-clip: content-box;
  border: 3px solid transparent;
}

.hierarchyselect-content div {
  outline: none;
}

.hierarchyselect-li {
  padding: 6px 12px;
  position: relative;
  cursor: pointer;
  display: flex;
  user-select: none;
}

.hierarchyselect-li:hover {
  background-color: #edf1f5;
  color: var(--adio-hover-color) !important;
}

.hierarchyselect-li-active {
  color: var(--adio-active-color) !important;
}

.hierarchyselect-li-active > .hierarchyselect-icon {
  color: var(--adio-active-color) !important;
}

.hierarchyselect-icon {
  position: absolute;
  line-height: 21px;
  right: 15px;
  top: 10px;
  color: #999;
}

.hierarchyselect-indeterminate {
  padding: 0;
  position: relative;
}

.hierarchyselect-indeterminate::after {
  position: absolute;
  content: " ";
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  border: 0;
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  background-color: #333;
  opacity: 1;
}